<template>
  <div class="login">
    <section class="panel left-panel">
      <h1>Welcome</h1>
      <LoginCard />
    </section>
    <section class="panel right-panel" />
  </div>
</template>

<script setup>
import LoginCard from './components/LoginCard.vue'
</script>

<style lang="postcss" scoped>
h1 {
  @media screen and (max-width:1200px){
    @apply text-[52px] mb-[55px] text-white;
  }
  @media screen and (min-width:1200px){
    @apply text-[52px] mb-[55px] text-black;
  }

  
}
.login {
  @apply flex w-full h-full;
}
.panel {
  @apply w-full h-full;
}

.left-panel {
  @apply flex flex-col items-center justify-center;
  @apply p-[50px];
  @media screen and (max-width:1200px){
    background: url('@/assets/login-bg.png');
    @apply bg-gray-400 bg-cover bg-no-repeat bg-center;
  }
}
.right-panel {
  @media screen and (max-width:1200px){
    display: none;
  }
  @media screen and (min-width:1200px){
    background: url('@/assets/login-bg.png');
    @apply bg-gray-400 bg-cover bg-no-repeat bg-center;
  }


  
}

</style>
