<template>
  <div class="data-card-list">
    <div v-for="(item, index) in data[page-1]" :key="index" class="data-card">
      <div class="data-row">
        <span class="label">年份</span>
        <span class="value">{{ item.year }}</span>
      </div>
      <div class="data-row">
        <span class="label">稅別</span>
        <span class="value">{{ item.cate }}</span>
      </div>
      <div class="data-row">
        <span class="label">開立數量</span>
        <span class="value">{{ item.totalOpen }}</span>
      </div>
      <div class="data-row">
        <span class="label">銷售總額(千元)</span>
        <span class="value">{{ item.totalCost }}</span>
      </div>
    </div>
  </div>
</template>

<script setup>
defineProps({
  page: {
    type: Number,
    default: 1,
  },
  data: {
    type: Array,
    default: () => [],
  },
})
</script>

<style lang="postcss" scoped>
.data-card-list {
  @apply grid gap-[8px];
}
.data-card {
  @apply bg-white rounded-[4px] py-[14px] px-[20px] ;
  @apply grid gap-[12px];
}
.data-row {
  @apply grid grid-cols-2 text-left ;
}
.label {
  @apply text-[#636363];
}
.value {
  @apply font-medium;
}
</style>
